.img-fluid{
    max-width: 100%;
}
hr.line{
    border-top: 3px solid #745C97;
    margin-top:1%;
    padding:0;
    width: 80%;
}

#title{
    margin-top: 10px;
    color:#745C97;
    font-size: clamp(2.3em, 3vw, 6em);
    font-family: "GmarketSansBold";
    text-align: center;
    cursor: pointer;
}
#titleImage{
    margin-top:2px;
    max-width: 100%;
    width: clamp(1.5em, 3vw, 6em);
}

#cloud2{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 40%;
    opacity: 70%;
}

#cloud1{
    margin-bottom: clamp(200px, 230px, 50%);
    width:25%;
    opacity: 70%;
}

#sub{
    font-size: clamp(1.1em, 1.3vw, 5vw);
    color: #606060;
    font-family: "GmarketSansMedium";
    text-align: center;
    margin-top: 0;
    cursor: pointer;
}

#sub div:hover{
    color:#000000;
    font-weight: bold;
}




@font-face { 
    font-family: 'GmarketSansMedium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; }
@font-face { 
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') 
    format('woff'); font-weight: normal; 
    font-style: normal; 
}
